body{
    text-align: center;
    background: rgba(0, 0, 0, 0.877);
    color: white;
    display: flex;
    justify-content: center;
    font-family: cursive;
    

}
.container{

    width:400px;
    padding: 20px;
    align-items: center;
    border: 2px solid black;
}
input{
    width: 50px;
}
.count{
    font-size: 3rem;
}
button{
    margin: 20;
    padding: 10px 16px;
    background-color: orange;
    border: 1px solid gray;
    border-radius: 50%;
    cursor: pointer;
    

                                                                                                                                                                                                                                                                                                                                                                                                                           
}